<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<style type="text/css">
	.container{  
		position:relative;
	    min-height:100%;
	 }
	footer {  
		width:100%;
		height:200px; 
		position:absolute; 
		bottom:0; 
	}
	p>a>i { color:gray; text-decoration: none;}
	p>a>i:hover, p>a>i:focus { color:#29A65F; }
	</style>
	<meta charset="utf-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="footer" class="py-5 bg-light">
	<div>
		<p class="contect text-dark text-center">
         Contect &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
			<a class="mx-1" href="/"><i class="far fa-envelope"></i></a>
			<a class="mx-1" href="/"><i class="fab fa-github"></i></a>
			<a class="mx-1" href="/"><i class="far fa-comment-dots"></i></a>
         </p>
         <p class="text-dark m-0 text-center">2021 &copy; Alone & Along</p>
         <p class="text-dark text-center">DWU System Software Programming Project</p>
	</div>
</div>
</body>
</html> 