<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Top :: head(~{::title})">
<meta charset="utf-8">
    <title>Cart</title>
</head>
<body>
<script type="text/javascript">
$(document).on("click", ".open-deleteModal", function () {
    var cartItemId = $(this).data('id');
    $("#cartItemId").val(cartItemId);
});
</script>

<div th:replace="thyme/Top :: header"></div>
<div class="container my-5 pb-5">
	<div class=" mb-3 pb-3 text-center">
		<h1 class="mb-5">Shopping cart</h1>
	</div>
	<div class="container mb-5 row">
		<div class="col-lg-8 cart">
			<div class="cart-header text-center mb-3 pb-3 border-bottom row">
				<div class="col-md-5">상품</div>
				<div class="d-none d-md-block col">
					<div class="row">
						<div class="col-md-3">가격</div>
						<div class="col-md-3">수량</div>
						<div class="col-md-3">총액</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
			<div class="cart-body">
					<div th:unless="${cart.size()}" class="text-center my-5">
						장바구니에 상품이 없습니다.
					</div>
					<div class="cart-item mb-3 rounded-lg" th:each="cartItem : ${cart}">
						<div
							class=" d-flex align-items-center text-left text-md-center row">
							<div class="col-12 col-md-5">
								<div class="d-flex align-items-center">
									<a th:href="@{/shop/{productId}(productId=${cartItem.productId})}"> <img th:src="*{'/images/' + cartItem.productId + '.png'}" class="img rounded-lg"
											style="object-fit: cover; background-position: center; width: 100px; height: 100px;"/>
									</a>
									<div class="cart-title text-left ml-3">
										<a class="text-uppercase text-dark" th:href="@{/shop/{productId}(productId=${cartItem.productId})}"><strong th:text="${cartItem.productName}"></strong></a>
									</div>
								</div>
							</div>
							<div class="mt-4 mt-md-0 col-12 col-md-7">
								<div class="align-items-center row">
									<div class="col-md-3">
										<div class="row">
											<div class="text-right text-md-center col-6 col-md-12" th:text="${#numbers.formatInteger(cartItem.price,3,'COMMA')}"></div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<form class="form" th:action="@{/cart/update/{cartItemId}(cartItemId=${cartItem.cartItemId})}">
										<div class="input-group">
									      <input class="form-control text-center rounded" name="quantity"
											type="number" th:value="${cartItem.quantity}" min="1">
									      <span class="input-group-btn">
									        <button class="btn" type="submit"><i class="text-orange fas fa-check"></i></button>
									      </span>
									    </div>
									    </form>
									</div>
									<div class="col-md-2">
										<div class="row">
											<div class="text-right text-md-center col-6 col-md-12" th:text="${#numbers.formatInteger(cartItem.getUnitPrice(),3,'COMMA')}"></div>
										</div>
									</div>
									<div class="d-none d-md-block text-center col-2">							
										<a class="btn cart-remove text-green open-deleteModal" th:attr="data-id=${cartItem.cartItemId}" data-toggle="modal" data-target="#deleteModal"><i
											class="delete fa fa-times"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="mb-5">
				<div class="bg-light py-4 rounded-lg px-4">
					<form th:action="@{/shop/order}" method="POST">
					<h3 class="mt-2 mb-5 text-uppercase">주문 합계</h3>
					<div
						class="py-1 pt-3 px-3 row justify-content-between border-bottom">
						<span>상품 금액</span>
						<span th:if="${productsPrice <= 999}" th:text="|${productsPrice}원|"></span>
						<span th:if="${productsPrice > 999}" th:text="|${#numbers.formatInteger(productsPrice,3,'COMMA')}원|"></span>
					</div>
					<div
						class="py-1 pt-3 px-3 row justify-content-between border-bottom">
						<span>배송비</span>
						<span th:if="${shippingFee <= 999}" th:text="|${shippingFee}원|"></span>
						<span th:if="${shippingFee > 999}" th:text="|${#numbers.formatInteger(shippingFee,3,'COMMA')}원|"></span>
					</div>
					<div
						class="py-1 pt-3 px-3 row align-items-end justify-content-between border-bottom">
						<span>합계</span>
						<h4 th:if="${totalPrice <= 999}" th:text="|${totalPrice}원|"></h4>
						<h4 th:if="${totalPrice > 999}" th:text="|${#numbers.formatInteger(totalPrice,3,'COMMA')}원|"></h4>
					</div>
					<div class="row justify-content-center">
						<button type="submit" class="btn btn-orange btn-block rounded-pill py-3 my-1 mt-3 mx-3"
							name="type" value="cart"> <small><i class="far fa-credit-card pr-1"></i></small> 주문하기 </button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content py-5">
			<form th:action="@{/cart/delete}">
				<div class="modal-body text-center pb-4">
					<h6>정말 장바구니에서 삭제하시겠습니까?</h6>
					<input type="hidden" name="cartItemId" id="cartItemId">
				</div>
				<div class="row mx-5 mb-2 justify-content-center">
					<a type="button"class="btn btn-green rounded-pill mx-2 py-2 px-3"
						data-dismiss="modal">취소</a> <button type="submit"
						class="btn btn-orange rounded-pill mx-2 py-2 px-3">삭제</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	<div th:if="${param.stockError}" class="modal fade" id="alertModal"
		tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content pb-4">
				<div class="modal-header">
					<h5 class="modal-title">Error</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					현재 <span class="text-green" th:text="${cartItemName}"></span>의
					재고수량은 <span class="text-orange" th:text="${param.stock}"></span>개
					입니다.
				</div>
			</div>
		</div>
	</div>
	<div th:replace="thyme/Bottom :: footer"></div>
