<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Top :: head(~{::title})">
<meta charset="utf-8">
    <title>Cart</title>
</head>
<body>

<div th:replace="thyme/Top :: header"></div>
<div class="container my-5 pb-5">
	<div class=" mb-3 pb-3 text-center">
		<h1 class="mb-5">Shopping cart</h1>
	</div>
	<div class="container mb-5 row">
		<div class="col-lg-8 cart">
			<div class="cart-header text-center mb-3 pb-3 border-bottom row">
				<div class="col-md-5">상품</div>
				<div class="d-none d-md-block col">
					<div class="row">
						<div class="col-md-3">가격</div>
						<div class="col-md-3">수량</div>
						<div class="col-md-3">총액</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
			<div class="cart-body">
					<div class="cart-item mb-3 rounded-lg" th:each="cartItem : ${cart}">
						<div
							class=" d-flex align-items-center text-left text-md-center row">
							<div class="col-12 col-md-5">
								<div class="d-flex align-items-center">
									<a href="/detail-1"> <svg class="img rounded-lg"
											style="background-image: url('https://img-cf.kurly.com/shop/data/goods/1575003713758y0.jpg'); background-size: cover; background-position: center; width: 100px; height: 100px;"></svg>
									</a>
									<div class="cart-title text-left ml-3">
										<a class="text-uppercase text-dark" th:href="@{/shop/{productId}(productId=${cartItem.productId})}"><strong th:text="${cartItem.productName}"></strong></a>
									</div>
								</div>
							</div>
							<div class="mt-4 mt-md-0 col-12 col-md-7">
								<div class="align-items-center row">
									<div class="col-md-3">
										<div class="row">
											<div class="text-right text-md-center col-6 col-md-12" th:text="${#numbers.formatInteger(cartItem.price,3,'COMMA')}"></div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<form class="form" th:action="@{/cart/update/{cartItemId}(cartItemId=${cartItem.cartItemId})}">
										<div class="input-group">
									      <input class="form-control text-center rounded" name="quantity"
											type="number" th:value="${cartItem.quantity}" min="1">
									      <span class="input-group-btn">
									        <button class="btn" type="submit"><i class="text-orange fas fa-check"></i></button>
									      </span>
									    </div>
									    </form>
									</div>
									<div class="col-md-2">
										<div class="row">
											<div class="text-right text-md-center col-6 col-md-12"  th:text="${#numbers.formatInteger(cartItem.getUnitPrice(),3,'COMMA')}"></div>
										</div>
									</div>
									<div class="d-none d-md-block text-center col-2">
										<a class="cart-remove text-green" th:href="@{/cart/delete/{cartItemId}(cartItemId=${cartItem.cartItemId})}"><i
											class="delete fa fa-times"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="mb-5">
				<div class="bg-light py-4 rounded-lg px-4">
					<h3 class="mt-2 mb-5 text-uppercase">주문 합계</h3>
					<div
						class="py-1 pt-3 px-3 row justify-content-between border-bottom">
						<span>상품 금액</span><span th:text="|${#numbers.formatInteger(productsPrice,3,'COMMA')}원|"></span>
					</div>
					<div
						class="py-1 pt-3 px-3 row justify-content-between border-bottom">
						<span>배송비</span><span th:text="|${#numbers.formatInteger(shippingFee,3,'COMMA')}원|"></span>
					</div>
					<div
						class="py-1 pt-3 px-3 row align-items-end justify-content-between border-bottom">
						<span>합계</span>
						<h4 th:text="|${#numbers.formatInteger(totalPrice,3,'COMMA')}원|"></h4>
					</div>
					<div class="row justify-content-center">
						<a type="button"
							class="btn btn-orange btn-block rounded-pill py-3 my-1 mt-3 mx-3"
							th:href="@{/order}"> <small><i
								class="far fa-credit-card pr-1"></i></small> 결제하기
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:replace="thyme/Bottom :: footer"></div>
