<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.CartItemMapper">
  <cache />
  <insert id="insertCartItem">
     INSERT INTO CARTITEM
     VALUES (
     	CARTITEM_SEQ.NEXTVAL,
     	#{userId},
     	#{productId}, 
     	#{quantity}
     )
  </insert>
  
  <update id="updateCartItem" parameterType="cartItem">
        UPDATE CARTITEM
        SET
        	QUANTITY = #{quantity},
        	PRODUCT_ID = #{productId}
        WHERE
        	CARTITEM_ID = #{cartItemId}
   </update>
   
   
  <select id="isInCart" resultType="cartItem">
     SELECT
    	C.CARTITEM_ID as cartItemId,
    	C.PRODUCT_ID as productId,
        P.PRODUCT_NAME as productName,
    	C.USER_ID as userId,
    	C.QUANTITY as quantity,
        P.PRODUCT_PRICE as price,
        P.PRODUCT_IMG as img
    FROM CARTITEM C
    LEFT OUTER JOIN PRODUCT P ON C.PRODUCT_ID = P.PRODUCT_ID
    WHERE P.PRODUCT_ID = #{productId}
    	AND C.USER_ID = #{userId}
  </select>
  
  <select id="getAllCartItem" resultType="cartItem">
     SELECT
    	C.CARTITEM_ID as cartItemId,
    	C.PRODUCT_ID as productId,
        P.PRODUCT_NAME as productName,
    	C.USER_ID as userId,
    	C.QUANTITY as quantity,
        P.PRODUCT_PRICE as price,
        P.PRODUCT_IMG as img
    FROM CARTITEM C
    LEFT OUTER JOIN PRODUCT P ON C.PRODUCT_ID = P.PRODUCT_ID
    WHERE C.USER_ID = #{userId}
  </select>
  
  <select id="getCartItem" resultType="cartItem">
    SELECT
    	C.CARTITEM_ID as cartItemId,
    	C.PRODUCT_ID as productId,
        P.PRODUCT_NAME as productName,
    	C.USER_ID as userId,
    	C.QUANTITY as quantity,
        P.PRODUCT_PRICE as price,
        P.PRODUCT_IMG as img
    FROM CARTITEM C
    LEFT OUTER JOIN PRODUCT P ON C.PRODUCT_ID = P.PRODUCT_ID
    WHERE C.CARTITEM_ID = #{cartItemId}
  </select>
  
  <delete id="deleteCartItem">
  	DELETE
    FROM CARTITEM
    WHERE CARTITEM_ID = #{cartItemId}
  </delete>

  <delete id="deleteAllCartItem">
  	DELETE
    FROM CARTITEM
    WHERE USER_ID = #{userId}
  </delete>
  
</mapper>
