<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.FoodMapper">

  <cache />

  <select id="getFood" resultType="Food">
     SELECT
    	RES_ID as resId, 
    	FOOD_ID as foodId,
    	FOOD_NAME as name,
    	FOOD_PRICE as price,
    	FOOD_DES as description,
    	FOOD_IMG as img,
    	MAX_PEOPLE_NUM as maxPeopleNum
    FROM FOOD
    WHERE FOOD_ID = #{foodId}
  </select>

  <select id="getFoodListByResId" resultType="Food">
    SELECT
    	RES_ID as resId, 
    	FOOD_ID as foodId,
    	FOOD_NAME as name,
    	FOOD_PRICE as price,
    	FOOD_DES as description,
    	FOOD_IMG as img,
    	MAX_PEOPLE_NUM as maxPeopleNum
    FROM FOOD
    WHERE RES_ID = #{resId}
  </select>
  
  <insert id="insertFood">
    INSERT INTO FOOD (FOOD_ID, RES_ID, FOOD_NAME, FOOD_PRICE, FOOD_DES, FOOD_IMG, MAX_PEOPLE_NUM)
    VALUES ('f' || FOODID_SEQ.NEXTVAL, #{resId}, #{name}, #{price}, #{description}, empty_blob(), #{maxPeopleNum})
  </insert>
  
  <update id="updateFood">
 	UPDATE FOOD 
 	SET FOOD_NAME = #{name},
    	FOOD_PRICE = #{price},
    	FOOD_DES = #{description},
    	FOOD_IMG = empty_blob(),
    	MAX_PEOPLE_NUM = #{maxPeopleNum}
 	WHERE FOOD_ID = #{foodId}
  </update>
  
  <delete id="deleteFood">
  	DELETE FROM FOOD
    WHERE FOOD_ID = #{foodId}
  </delete>
  
  
  

</mapper>