<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.OrderInfoMapper">

  <cache />
  
  <insert id="insertFoodOrderInfo">
    INSERT INTO ORDERINFO (ORDER_ID, ORDER_DATE, TOTAL_PRICE, ORDER_STATUS, USER_ID, CARD_NUM, CARD_DATE, CARD_NAME)
    VALUES ('fo' || FOODORDERID_SEQ.NEXTVAL, TO_DATE(SYSDATE, 'YYYY-MM-DD'), #{totalPrice}, 'reserved', #{userId}, #{payment.card_num}, #{payment.card_date}, #{payment.card_name})
  </insert>
  <delete id="deleteFoodOrderInfo">
  	DELETE FROM ORDERINFO
  	WHERE ORDER_ID = #{orderId}
  	</delete>
  
  <select id="getRecentOrderId" resultType="String">
  	SELECT FOODORDERID_SEQ.CURRVAL FROM DUAL
  </select>
  
  <select id="getOrdersByUserId" resultType="FoodOrder">
  SELECT 
	o.order_id as orderId, 
	TO_CHAR(order_date, 'yy-mm-dd') as orderDate, 
	total_price as totalPrice, 
	reserve_type as reserveType, 
	visit_date as visitDate, 
	food_id as firstFoodId, 
	res_id as resId,
	card_name as cardName
	FROM ORDERINFO o JOIN FOOD_ORDER f ON o.order_id = f.order_id
	WHERE o.user_id = #{userId}
	ORDER BY orderDate DESC, visitDate DESC
  </select>
  
  <insert id="insertTogetherOrderInfo" useGeneratedKeys="true" keyColumn="ORDER_ID" keyProperty="orderId">
    	INSERT INTO ORDERINFO (ORDER_ID, ORDER_DATE, TOTAL_PRICE, ORDER_STATUS, USER_ID, CARD_NUM, CARD_DATE, CARD_NAME)
    	VALUES('t' || TOGORDER_ID_SEQ.NEXTVAL, TO_DATE(SYSDATE, 'YYYY-MM-DD'), #{totalPrice}, #{status}, #{userId}, #{cardNum}, #{cardDate}, #{cardName})
  </insert>
  
  <delete id="deleteTogetherOrderInfo"> 
  		DELETE FROM ORDERINFO WHERE ORDER_ID = #{orderId}
  </delete>
  
  <update id="updateTogetherOrderInfo">
 		UPDATE ORDERINFO 
 		SET ORDER_ID = #{orderId},
    		ORDER_DATE = TO_DATE(SYSDATE, 'YYYY-MM-DD'),
    		TOTAL_PRICE = #{totalPrice},
    		ORDER_STATUS = #{status},
    		USER_ID = #{userId},
    		CARD_NUM = #{cardNum},
    		CARD_DATE = #{cardDate},
    		CARD_NAME = #{cardName}
 		WHERE ORDER_ID = #{orderId}
  	</update>

</mapper>