<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.PaymentMapper">

  <cache />
  
  <select id="getCard" resultType="Payment">
    SELECT CARD_NUM, CARD_NAME, CARD_DATE
    FROM PAYMENT
    WHERE USER_ID = #{userId}
  </select>

   <update id="updateCard" parameterType="Payment">
    UPDATE PAYMENT SET
      CARD_NUM = #{cardNumber},
      CARD_NAME = #{cardName},
      CARD_DATE = #{cardDate},
    WHERE USERID = #{user_id}
  </update>

  <insert id="createCard" parameterType="Payment">
    INSERT INTO PAYMENT
      (USER_ID, CARD_NUM, CARD_NAME, CARD_DATE)
    VALUES
      (#{user_id}, #{cardNumber}, #{cardName}, #{cardDate})
  </insert>
</mapper>