<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.RestaurantMapper">

  <cache />

  <select id="getRestaurant" resultType="Restaurant">
     SELECT
    	RES_ID as resId, 
    	RES_NAME as resName,
    	RES_ADDRESS as resAddress,
    	RES_PHONE as resPhone,
    	OWNER_ID as ownerId,
    	RES_DES as resDescription,
    	ROUND(AVG_RATING,1) as avgRating,
    	RES_CATEGORY as categoryId,
    	RES_IMG as imgFile,
    	AREA as area,
    	IS_TOGETHER_OK as isTogetherOk
    FROM RESTAURANT
    WHERE RES_ID = #{resId}
  </select>
  <select id="getRestaurantByOwnerId" resultType="Restaurant">
     SELECT
    	RES_ID as resId, 
    	RES_NAME as resName,
    	RES_ADDRESS as resAddress,
    	RES_PHONE as resPhone,
    	OWNER_ID as ownerId,
    	RES_DES as resDescription,
    	ROUND(AVG_RATING,1) as avgRating,
    	RES_CATEGORY as categoryId,
    	RES_IMG as imgFile,
    	AREA as area,
    	IS_TOGETHER_OK as isTogetherOk
    FROM RESTAURANT
    WHERE OWNER_ID = #{ownerId}
  </select>

  <select id="getRestaurantList" resultType="Restaurant">
    SELECT
    	RES_ID as resId, 
    	RES_NAME as resName,
    	RES_ADDRESS as resAddress,
    	RES_PHONE as resPhone,
    	OWNER_ID as ownerId,
    	RES_DES as resDescription,
    	ROUND(AVG_RATING,1) as avgRating,
    	RES_CATEGORY as categoryId,
    	RES_IMG as imgFile,
    	IS_TOGETHER_OK as isTogetherOk,
    	REV_COUNT,
    	AREA as area
    FROM RESTAURANT
    ORDER BY resId DESC
  </select>
  
  <select id="searchRestaurantList" resultType="Restaurant">
    SELECT
    	RES_ID as resId,
    	RES_NAME as resName,
    	RES_ADDRESS as resAddress,
    	RES_PHONE as resPhone,
    	OWNER_ID as ownerId,
    	RES_DES as resDescription,
    	ROUND(AVG_RATING,1) as avgRating,
    	RES_CATEGORY as categoryId,
    	RES_IMG as imgFile,
    	AREA as area,
    	IS_TOGETHER_OK as isTogetherOk
    FROM RESTAURANT
    WHERE lower(RES_NAME) like '%${keywords}%'
  </select>
  
  <select id="getRestaurantListByCategory" resultType="Restaurant">
    SELECT 
    	RES_ID as resId, 
    	RES_NAME as resName,
    	RES_ADDRESS as resAddress,
    	RES_PHONE as resPhone,
    	OWNER_ID as ownerId,
    	RES_DES as resDescription,
    	ROUND(AVG_RATING,1) as avgRating,
    	RES_CATEGORY as categoryId,
    	RES_IMG as imgFile,
    	AREA as area,
    	IS_TOGETHER_OK as isTogetherOk
    FROM (SELECT * FROM RESTAURANT WHERE AREA LIKE '%${category1}%' AND RES_CATEGORY LIKE '%${category2}%') 
    ORDER BY ${sortType} DESC
  </select>
  
  <insert id="insertRestaurant">
    INSERT INTO RESTAURANT (RES_ID, RES_NAME, RES_ADDRESS, RES_PHONE, OWNER_ID, RES_DES, AVG_RATING, RES_CATEGORY, RES_IMG, IS_TOGETHER_OK, AREA)
    VALUES ('r' || RESID_SEQ.NEXTVAL, #{resName}, #{resAddress}, #{resPhone}, #{ownerId}, #{resDescription}, #{avgRating}, #{categoryId}, #{imgFile}, #{isTogetherOk}, #{area})
  </insert>
  <update id="updateRestaurant">
    UPDATE RESTAURANT 
    SET RES_ADDRESS = #{resName}, RES_PHONE = #{resPhone}, RES_IMG = #{imgFile},
    RES_DES = #{resDescription}, RES_CATEGORY = #{categoryId}, IS_TOGETHER_OK = #{isTogetherOk}, AREA = #{area}
    WHERE RES_ID = #{resId}
  </update>
   <delete id="deleteRestaurant">
 	DELETE FROM RESTAURANT
    WHERE OWNER_ID = #{ownerId}
  </delete>
  <update id="updateAvgRating">
  	UPDATE RESTAURANT
	SET AVG_RATING = ((AVG_RATING * REV_COUNT + #{rating}) / (REV_COUNT + 1)), REV_COUNT = REV_COUNT + 1
	WHERE RES_ID = #{resId}
  </update>
 
  

</mapper>