<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.TogetherFoodMapper">
	<cache />

	<select id="getTogetherFoodListByTogId" resultType="TogetherFood">
		SELECT
    		TF.TOGFOOD_ID AS togetherFoodId,
    		TF.TOG_ID AS togetherId,
    		TF.FOOD_ID AS foodId,
    		TF.QUANTITY AS quantity,
    		F.FOOD_NAME AS "food.name",
    		F.FOOD_PRICE AS "food.price",
    		F.FOOD_IMG as "food.imgFile"
		FROM TOGETHER_FOOD TF, FOOD F
		WHERE TF.FOOD_ID = F.FOOD_ID
			AND TOG_ID = #{togId}
		ORDER BY TOGFOOD_ID ASC
	</select>

	<insert id="insertTogetherFood">
    	INSERT INTO TOGETHER_FOOD (TOGFOOD_ID, TOG_ID, FOOD_ID, QUANTITY)
    	VALUES(TOGFOOD_ID_SEQ.NEXTVAL, #{togetherId}, #{foodId}, #{quantity})
	</insert>

	<delete id="deleteTogetherFood"> 
  		DELETE FROM TOGETHER_FOOD WHERE TOG_ID = #{togetherId}
  	</delete>
  	
  	<update id="updateTogetherFood">
 		UPDATE TOGETHER_FOOD 
 		SET TOGFOOD_ID = #{togetherFoodId},
    		TOG_ID = #{togetherId},
    		FOOD_ID = #{foodId},
    		QUANTITY = #{quantity},
 		WHERE TOG_ID = #{togetherId}
  	</update>

</mapper>