<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.TogetherMapper">
	<cache />

	<select id="getTogetherList" resultType="Together">
		SELECT
    		T.TOG_ID AS togetherId,
    		T.TOG_NAME AS togetherName,
    		T.HEADCOUNT AS headCount,
    		T.TOG_DATE AS togetherDate,
    		T.TOG_TIME AS togetherTime,
    		T.TOG_SEX AS sex,
    		T.TOG_AGE AS age,
    		T.TOG_DES AS togetherDes,
    		T.RES_ID AS resId,
    		T.TOG_STATUS AS status,
    		T.price AS price,
    		R.RES_NAME AS "restaurant.resName",
    		R.RES_ADDRESS AS "restaurant.resAddress",
    		R.RES_CATEGORY AS "restaurant.categoryId"
		FROM TOGETHER T, RESTAURANT R
		WHERE T.RES_ID = R.RES_ID
	</select>

	<select id="getTogetherByTogId" resultType="Together">
		SELECT
    		T.TOG_ID AS togetherId,
    		T.TOG_NAME AS togetherName,
    		T.HEADCOUNT AS headCount,
    		T.TOG_DATE AS togetherDate,
    		T.TOG_TIME AS togetherTime,
    		T.TOG_SEX AS sex,
    		T.TOG_AGE AS age,
    		T.TOG_DES AS togetherDes,
    		T.RES_ID AS resId,
    		T.TOG_STATUS AS status,
    		T.price AS price,
    		R.RES_NAME AS "restaurant.resName",
    		R.RES_ADDRESS AS "restaurant.resAddress",
    		R.RES_CATEGORY AS "restaurant.categoryId"
		FROM TOGETHER T, RESTAURANT R
		WHERE T.RES_ID = R.RES_ID
			AND T.TOG_ID = #{togId}
	</select>

	<insert id="insertTogether">
    	INSERT INTO TOGETHER (TOG_ID, TOG_NAME, HEADCOUNT, TOG_DATE, TOG_TIME, TOG_SEX, TOG_AGE,
      		TOG_DES, TOG_STATUS)
    	VALUES(#{togetherId}, #{togetherName}, #{headCount}, #{togetherDate}, #{togetherTime}, #{sex},
      		#{age}, #{togetherDes}, #{status})
	</insert>
	
	<!-- (구현중)카테고리에 맞는 togetherList 불러오기 ///////// 조건절 완성하기 -->
	<select id="getTogetherListByCategory" resultType="Together">
		SELECT
    		T.TOG_ID AS togetherId,
    		T.TOG_NAME AS togetherName,
    		T.HEADCOUNT AS headCount,
    		T.TOG_DATE AS togetherDate,
    		T.TOG_TIME AS togetherTime,
    		T.TOG_SEX AS sex,
    		T.TOG_AGE AS age,
    		T.TOG_DES AS togetherDes,
    		T.RES_ID AS resId,
    		T.TOG_STATUS AS status,
    		R.RES_NAME AS "restaurant.resName",
    		R.RES_ADDRESS AS "restaurant.resAddress",
    		R.RES_CATEGORY AS "restaurant.categoryId"
		FROM TOGETHER T, RESTAURANT R
		WHERE T.RES_ID = R.RES_ID
	</select>

</mapper> 