<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.TogetherFoodMapper">
	<cache />

	<select id="getTogetherFoodListByTogId" resultMap="togetherFood">
		SELECT
    		TOGFOOD_ID AS togetherFoodId
    		TOG_ID AS togetherId
    		QUANTITY AS quantity
		FROM TOGETHER_FOOD quantity
		WHERE TOG_ID = #{togId}
	</select>

	<insert id="insertTogetherFood">
    	INSERT INTO TOGETHER_FOOD (TOGFOOD_ID, TOG_ID, QUANTITY)
    	VALUES(#{togetherFoodId}, #{togetherId}, #{quantity})
	</insert>

</mapper>