<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.TogetherMemberMapper">
	<cache />

	<select id="getTogetherMemberListByTogId" resultType="TogetherMember">
		SELECT
    		TM.TOGMEM_ID AS togetherMemberId,
    		TM.TOG_ID AS togetherId,
    		TM.USER_ID AS userId,
    		TM.IS_HOST AS isHost,
    		U.NAME AS "user.name",
    		U.NICKNAME AS "user.nickname",
    		U.SEX AS "user.sex"
		FROM TOGETHER_MEMBER TM, USERINFO U
		WHERE TM.USER_ID = U.USER_ID
			AND TOG_ID = #{togId}
		ORDER BY TOGMEM_ID ASC
	</select>

	<insert id="insertTogetherMember">
    	INSERT INTO TOGETHER_MEMBER (TOGMEM_ID, USER_ID, TOG_ID, IS_HOST)
    	VALUES(TOGMEM_ID_SEQ.NEXTVAL, #{userId}, #{togetherId}, #{isHost})
	</insert>

	<delete id="deleteTogetherMember"> 
  		DELETE FROM TOGETHER_MEMBER WHERE TOG_ID = #{togetherId}
  	</delete>

</mapper>